<!-- メインページ。社員名と番号を表示し、名をクリックでページ遷移 -->
<h1>社員名簿</h1>

<ul>
  <table border=1>

    <thead>
      <tr>
        <th><%= "ID" %></th>
        <th><%= "名前" %></th>
        <th><%= "更新" %></th>
        <th><%= "削除" %></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= "No." %>
          <%= project.stuffnum %></td>
          <td><%= link_to project.title, project_path(project.id) %></td>
          <td><%= link_to "更新", edit_project_path(project.id) %></td>
          <td><%= link_to "削除", project_path(project.id), method:
           :delete, data: { confirm: "本当に削除してもよろしいですか？" } %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
</ul>

<h5>
  <%= link_to "Add New Member", new_project_path %>
</h5>
