<!-- 更新画面。個人情報ページの更新ボタンから遷移 -->
<!-- 仮にここにエディットページをおいておき、後で入れ替える -->
<h1><%= @project.title %></h1>
<h2><%="　登録情報の更新" %></h2>

<ul>　
<% if @stuff.present? && @stuff.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@stuff.errors.count, "error") %> prohibited this item from being saved: </h2>

    <% @stuff.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= form_for [@project, @project.stuffs.first || @project.stuffs.new] do |f| %>

    <%= "所属部署　　　:" %>
    <%= f.text_field :title %><br>
    <%= "メールアドレス:" %>
    <%= f.email_field :mail %><br>
    <%= "電話番号　　　:" %>
    <%= f.telephone_field :tel %><br>
    <%= "郵便番号　　　:" %>
    <%= f.text_field :post %><br>
    <%= "住所　　　　　　:" %>
    <%= f.text_field :address %><br>
    <%= "生年月日　　　:" %>
    <%= f.date_field :birthday %><br>

    <%= f.submit :保存 %>
    <% end %>
  </p>
</ul>
