<!-- この画面では情報を変更せず、更新画面への移動と削除を行う -->
<h1><%= @project.title %></h1>

<ul>
  <% @project.stuffs.all do |stuff| %>
  <% end %>

  <p>
    <%= form_for [@project, @project.stuffs.create] do |f| %>

    <%= "所属部署　　　:" %>
    <%= f.text_field :title %><br>
    <%= "メールアドレス:" %>
    <%= f.email_field :mail %><br>
    <%= "電話番号　　　:" %>
    <%= f.telephone_field :tel %><br>
    <%= "郵便番号　　　:" %>
    <%= f.text_field :post %><br>
    <%= "住所　　　　　　:" %>
    <%= f.text_field :address %><br>
    <%= "生年月日　　　:" %>
    <%= f.date_field :birthday %><br>

    <%= f.submit :保存 %>
  <% end %>

  </p>

</ul>
