<!DOCTYPE html>
<html>
  <head>
    <title>OriginalRubyonRailsApplication</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- 会社のロゴを入れておしゃれにワンポイント♪ -->
    <%= image_tag "logo.png"  %>

    <%= yield %>

    <h6>
      <%= link_to "TOPへ", projects_path %>
    </h6>
  </body>
</html>
